<header>
  <nav>
    <div id="title">
      <h3>My Google Maps Demo</h3>
      <input id="search" class="controls" type="text" placeholder="Search..." />
    </div>
    <a href="#" id="login-button">Login</a>
  </nav>
</header>
