<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+Pro:ital,wght@0,300;0,700;1,300;1,700&display=swap" rel="stylesheet">

  <!-- App CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/styles.css" type="text/css" />

  <!-- App Scripts -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/login.js"></script>

  <!-- External Scripts -->
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiRcxn1kSOj0mSXNBoGX7XnaP5c3-MhqQ&callback=initMap&&libraries=places&v=weekly"
    defer></script>
</head>

<body>

  <%- include('partials/_header') %>

  <!--The div element for the map -->
  <div id="login-overlay" class="overlay-remove">
    <img src="https://i.imgur.com/6wZfpVb.png" alt="Globe" width="auto" height="30%">
    <div id="form">
      <!-- Login Screen -->
      <form id="login-screen" class="user-form" action="/login" method="POST">
        <h2>Welcome Back!</h2>
        <h6>Log in to your existing account</h6>

        <!-- Email -->
        <div>
          <input type="email" name="email" placeholder="Email" spellcheck="false">
        </div>

        <!-- Password -->
        <div>
          <input type="password" name="password" placeholder="Password">
        </div>

        <!-- Button -->
        <div>
          <button type="submit">SIGN IN</button>
        </div>

        <!-- Switch to Sign Up -->
        <h6>Not already a member? <a href="#" id='switch-to-sign-up'>Sign Up</a></h6>
      </form>

      <!-- Sign-Up Screen -->
      <form id="sign-up-screen" class="user-form form-hidden" action="/register" method="POST">
        <h2>Let's Get Started!</h2>
        <h6>Create an account</h6>

        <!-- Email -->
        <div>
          <input type="email" name="email" placeholder="Email" spellcheck="false">
        </div>

        <!-- Password -->
        <div>
          <input type="password" name="password" placeholder="Password">
        </div>

        <!-- Button -->
        <div>
          <button type="submit">REGISTER</button>
        </div>

        <!-- Switch to Login -->
        <h6>Already a member? <a href="#" id="switch-to-login">Login</a></h6>
      </form>
    </div>
  </div>
  <div class="main-page">
    <div class="form-pins">
      <form class="form-pins-data" action="/userData" method="POST">
        <button class="submit-button" type="submit">Save</button>
      </form>
    </div>
    <div id="map"></div>
  </div>

</body>

</html>
