.form-pins {
  .form-pins-data {
    #pins {
      .pin-data {

        div {
          display: flex;
          flex-direction: column;
          margin-bottom: 0.5rem;

          label {
            font-size: large;
            font-weight: bold;
          }
        }
      }
    }
  }
}
