// See: https://sass-lang.com/

body {
  background-color: #EEE;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

    a, a:visited, a:hover, a:active {
      margin-right: 1rem;
      text-decoration: none;
      color: inherit;
    }
  }

  h3 {
    color: #244751;
  }

  #map {
    height: 800px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }
}
