// See: https://sass-lang.com/

body {
  background-color: #EEE;

  h3 {
    color: #244751;
  }

  #map {
    height: 800px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }
}
