$login-height: 98rem;
$login-width: 49rem;

#login-overlay {
  z-index: 1;
  position: absolute;
  margin-top: calc((100vh - #{$login-height}) / 2);
  margin-left: calc((100vw - #{$login-width}) / 2);
  height: $login-height;
  width: $login-width;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 4rem;
  border: 0.3rem #d5e9ff solid;
  background: rgb(228,227,255);
  background: linear-gradient(90deg, rgba(228,227,255,1) 0%, rgba(255,255,255,1) 72%, rgba(255,255,255,1) 100%);
  font-size: 3rem;
  overflow: hidden;

  img {
    height: 42%;
    padding: 7rem 0 4rem;
  }

  #form {
    position: absolute;
    left: 1rem;
    bottom: 0;
    height: 58%;
    width: 150vw;
    display: flex;

    .form-hidden {
      visibility: hidden;
    }

    .user-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      h2 {
        margin: 0 0 1rem;
        font-size: 4.5rem;
      }

      h6 {
        margin: 0 0 5rem;
        color: rgb(151, 151, 151);

        a {
          text-decoration: none;
          color: #378ae2;
        }
      }

      div {
        margin-bottom: 2rem;

        input {
          border-radius: 4rem;
          border: 0.2rem rgba(0, 0, 0, 0) solid;
          padding: 2rem 2rem;
          color: #378ae2;
          font-weight: bold;
          font-size: 0.8em;

          &:focus {
            border: 0.2rem #378ae2 solid;
            outline: none;
          }

          &:placeholder-shown {
            color:  #979797;
          }
        }

        button {
          border-radius: 4rem;
          border: 0.2rem #378ae2 solid;
          background-color: #378ae2;
          margin: 2rem 0 3rem;
          padding: 2.2rem 8.4rem;
          color: white;
          font-size: 0.8em;
          font-weight: bold;

          &:focus {
            outline: none;
          }
        }
      }
    }

  }
  .form-animate-left {
    animation: 0.4s linear 0s slideleft;
    -webkit-animation-fill-mode: forwards;
  }

  @keyframes slideleft {
    to {
      left: 100%;
      transform: translateX(-101%);
    }
  }

  .form-animate-right {
    animation: 0.4s linear 0s slideright;
    -webkit-animation-fill-mode: forwards;
  }

  @keyframes slideright {
    from {
      left: 100%;
      transform: translateX(-101%);
    }
  }
}
