$login-height: 80vh;
$login-width: 80vw;

#login-overlay {
  z-index: 1;
  position: absolute;
  margin-top: calc((100vh - #{$login-height}) / 2);
  margin-left: calc((100vw - #{$login-width}) / 2);
  height: $login-height;
  width: $login-width;
  background-color: white;
  border-radius: 4em;
  border: 0.3rem #d5e9ff solid;
  font-size: 3rem;

  #sign-up {
    display: none;
  }

  #sign-up-screen {
    display: none;
  }

  #login-screen {
    display: flex;
  }

  .user-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

  }
}
